body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 18px;
}

hr {
    border-color: gray;
    border-style: dotted none none;
    border-top-style: dotted;
    border-width: 5px;
    height: 15px;
    width: 5%;
    margin-top: 50px;
}

h1 {
    margin: 0px auto 0 auto;
    padding-top: 75px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    color: #66BFBF;
    font-weight: bold;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-weight: bold;

}

a {
    color: #11999E;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

p {
    line-height: 2;
}

.top-container {
    background-color: #eaf6f6;
    position: relative;
    margin: 0;
}

.middle-container {

}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skills-pic {
    width: 25%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}

.skills2-pic {
    width: 25%;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
}


#personal-pic {
    border-radius: 50%;
    margin-top: 75px;
}

.bottom-container {
    background-color: #66bfbf;
    margin-top: 50px;
    position: relative;
    height: 200px;
    margin: 100 auto 100 auto;

}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.contact-me{
    position: block;
}

.butn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #fcfefe;
  font-size: 25px;
  background: #66bfbf;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.footer-link {
    color: #fcfefe;
    text-align: auto;
    position: relative;
    top: 70px;
}
